:root {
  --column-height: calc(100vh - 95px);

  font-size: min(16px, 2vw);
  font-size-adjust: none;
}

.myCoolText{
  color: red;
}


html, body { 
  overflow: hidden;
}

body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #ffffff;

background-color: rgb(214, 214, 214);
  background-attachment: fixed;
  background-size: calc((100vw - 800px) / 2) auto;
  background-position: 0 center;
  background-repeat: no-repeat;
  
}

.main {
  height: var(--column-height);
  padding: 0;
  
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-start;
  display: grid;
  gap: 1rem;
}

.landing-text {
  /* width: min(100%, 800px); */
  /* width: min(800px, 50vw);
  margin: 0 auto; */
  padding-bottom: calc(1rem + 20px);
  padding-inline: 1rem;
  padding-right: 2rem;
  text-align: center;
    filter:blur(0.3px);
    height: var(--column-height);
overflow-y: auto;
  /*text-shadow: 2px 2px 10px rgb(0, 0, 0.7);*/
}



.landing-text h1 {
  margin-block: 1rem;
  font-size: min(6vw, 3.5rem);
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
  filter:blur(0.4rem)
 /* text-shadow: 2px 2px 10px rgb(0, 0, 0.3); */
}

.landing-text p {
  margin-block: 1rem;
  font-size: 1.5rem;
  color: #000000;
  line-height: 1.6;
    text-align: center;
    text-align: justify;
    filter:blur(0.3px);

  /*text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  text-wrap: pretty; */
}

.landing-text p span:hover {
  color: rgb(255, 0, 123);
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white; 
  position: fixed;
  bottom: 0;
  width: 100%;
  }
footer p {
  line-height: 1.2;
  text-wrap: balance;
}
  header
{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white; 
  /* position: fixed; */
  position: sticky;
  top : 0;
  width: 100%;

  justify-content: space-between;
  align-items:center;
  display: flex;
  gap: 1rem;

  z-index: +1;
}

.header-button {
  padding: 10px 20px;
  background-color: #3a3a3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width:600px) {
header
{
  flex-direction: column;
}
}

.myCoolImage {
  position: relative;
  max-width: 800px;
  left: 50%;
  top: 50%;
  transform:translate(-50%, 0);
}

.left {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.left img {
  position: fixed;
  width: 200px;
  max-width: 100%;
}

.right {
  position: relative;
  padding-right: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: var(--column-height);
  gap: 2rem;
overflow-y: auto;
}
.right p {
  line-height: 1.35;
}
.right img {
  /* position: fixed; */
  max-width: 100%;
  opacity: 50%;
}

@media screen and ( max-width: 1331px) {
  :root {
    --column-height: calc(100vh - 115px);
  }
}
@media screen and ( max-width: 800px) {
  .left img,
  .right img {
    position: fixed;
    left: 0;
    width: 25vw;
    height: 50vh;
    object-position: 100% 100%;
    object-fit:contain;
  }
  .left img {
    top: 50vh;

  }
  .right img {
    top: 55px;
  }
  .right p {
    scale: 1 -1;
  }
}